{% set title = 'Home' %}
{% extends 'layout/template_' + goal + '.njk' %}

{% block content %}
<main role="main" class="groups-content container">
<div class="row">
    <section class="col-md-12 col-lg-8">
        <graphjs-feed item-link-template="{% if (goal==="show") %}/?page=feed&id={% else %}/{{ name }}/feed.html?id={% endif %}"></graphjs-feed>
    </section>
    <aside class="groups-sidebar d-none d-lg-block col-lg-4">

        <!-- SECTION START -->
        {% if (about) %}
            <div class="groups-information groups-box public-feature">
                <div class="title">About</div>
                <div class="content">
                    {{ about }}
                </div>
            </div>
        {% endif %}
        <!-- SECTION END -->

        <div class="register-box public-feature">
            <graphjs-auth-register min-width="100%" max-width="100%"></graphjs-auth-register>
        </div>
        <div class="groups-invitation groups-box private-feature">
            <div class="title">Invite people to this group</div>
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style p-3">
            <a class="a2a_button_email"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_linkedin"></a>
            <a class="a2a_button_reddit"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
        </div>
    </aside>
</div>
</main>
{% endblock %}

